[2016-09-07 15:53] chartjes opened #4 "License for project?"
Hi @allankilpatrick

I work at Mozilla as part of Firefox Test Engineering and we would like to use this plugin and refactor it to be more Python 3 friendly and add some more features that would be useful to us. We can't use it right now because you have not provided a license for your code. Would you accept a PR that adds a license compatible with pytest?

[2016-09-07 16:28] allankilpatrick commented on #4
Hi @chartjes
PRs are always welcome, please feel free to submit one and i'll take a look once I get time.

[2016-09-08 15:02] allankilpatrick commented on #4
Resolved : https://github.com/allankilpatrick/pytest-testrail/pull/5

[2016-09-08 15:02] #4 closed

[2016-10-04 09:19] diannelli opened #15 "Test Run 'status' update"
Hi @allankilpatrick,

I installed your insteresting plugin on [Tierra_qa package](https://github.com/tierratelematics/tierra_qa) but I would like to understand if the status of each test runs created by the plugin can be set.
Currently 'Untested' string appears on each automated test runs:

![image](https://cloud.githubusercontent.com/assets/16033815/19068753/303947ae-8a24-11e6-85bb-4326ab50fe8c.p

[2016-10-04 10:55] allankilpatrick commented on #15
Hi,

Looking at the API this isn't possible to manually set a test run status. The status will be updated depending on the test cases added to the run I believe.

http://docs.gurock.com/testrail-api2/reference-runs

[2016-10-17 13:33] diannelli commented on #15
Which API's are currently used by your package to set each tests status?
I noticed that only 'add_results_for_case' is used to update results.

It seems that ['add_results_for case'](http://docs.gurock.com/testrail-api2/reference-results#add_result_for_case) or the (next) 'add_result' funtion should perform an update of the test runs status in TestRail.

Do you think it can be added to the package

[2016-10-31 15:56] skipkent opened #16 "Custom test run name"
Hello and thanks for this great plugin!  I was wondering if there is a way to override the plugin.testrun_name() method so that results can be posted under a run with a specific name.

Thanks,

-Kent

[2016-11-02 17:30] diannelli commented on #15
Hi @allankilpatrick,
do you have any feedback about the previous question?

[2016-11-03 08:39] allankilpatrick commented on #16
Hi @skipkent

It could be override via a command flag
py.test --testrail --tr_name 'run name'

I'll see what come up with, also feel free to create a PR.

[2016-11-03 08:40] allankilpatrick commented on #15
Hi,

The testrun status should be updated when any test inside the run changes. Are you saying this isn't happening ?

[2016-11-03 14:03] skipkent commented on #16
Sounds great, thanks Allan!

[2016-11-08 12:00] allankilpatrick commented on #16
@skipkent
https://github.com/allankilpatrick/pytest-testrail/pull/17

Give that a go, see if that is what you are after.

[2016-11-08 15:09] skipkent commented on #16
That looks perfect!  I downloaded the source code, checked out the
custom-run-name branch and then did a
$ make requirements

I'm not used to running branch builds so I may have goofed something
here, but when I use the flag I get a 'unrecognized arguments' error.

It looks like I've got the branch installed:

$ pip list |grep -i rail
pytest-testrail (0.0.9,
/Users/kwood/Library/Python/2.7/lib/pyt

[2016-11-08 15:23] allankilpatrick commented on #16
You need to install the plugin from the branch, looks like you done `pip install pytest-testrail` and version 0.0.9 is installed.
So to install it from a local version:
`pip install -e /path/to/clonedrepo`

That will install the checked out version 0.0.10

[2016-11-08 15:44] skipkent commented on #16
Got it working now and it's perfect.  Thanks for the great work!

Cheers,

-Kent

On 11/8/16 10:23 AM, Allan Kilpatrick wrote:

[2016-11-08 16:21] allankilpatrick commented on #16
Its now deployed to pypi `pip install pytest-testrail` will give you the latest version
Closing resolved in version 0.0.10

[2016-11-08 16:21] #16 closed

[2017-01-04 15:10] allankilpatrick commented on #15
Closing now response for 2 months, please reopen if required.

[2017-01-04 15:10] #15 closed

[2017-01-06 04:56] smartmouse opened #21 "Have issues trying out with a simple python test."
Thank you for the plugin,  I am a new user to testRail and try to integrate with a simple python test-
install.py
I am following the readme but run into some issues.
What did I miss here or do wrong?
Any help is appreciated, how do we debug this?
looks like , it does not like 'T75'
Thanks in advance

[code]

=======================

py.test install.py --testrail=setting.cfg --tr_name='install test

[2017-01-09 15:54] allankilpatrick commented on #21
@smartmouse If you look at the last line of the error
[code]

The plugin removes the C from the start of testcaseids, so that only the int is passed to testrail ( API only accepts ints )

So since you have used the:
`@testrail('T75')`

The T character is being used as well when throws the error.

You should be using something like:
@testrail('CXXXXXX')

This is stated in the README, give me a shou

[2017-01-25 16:27] #21 closed

[2017-10-05 10:34] soulrebel opened #26 "Allow upgrades of requests dependency"
When using this plugin it's impossible to update the requests dependency to a more recent version since the dependency it's specified with ``==2.11.1``. In [cookiecutter-qa](https://github.com/tierratelematics/cookiecutter-qa/pull/165) this results in pytest refusing to load the plugin:

[code]
Please relax the requirement version with a ``>=2.11.1`` if possible. It does not appear probable that `

[2017-11-02 12:31] #26 closed

[2017-11-07 16:09] brherger opened #28 "Argument/config handling issues"
Using:
Python 2.7.9
pytest-testrail (1.0.1)

Example usage in readme does not appear to work.
`$ pytest test_me.py --testrail=testrail.cfg`
`usage: pytest [options] [file_or_dir] [file_or_dir] [...]
pytest: error: argument --testrail: ignored explicit argument 'testrail.cfg'`

[2017-11-07 16:21] brherger opened #29 "ConfigParser fallback issue in Python 2.7"
Using:
Python 2.7.9
pytest-testrail (1.0.1)

`$ pytest test_me.py --testrail
INTERNALERROR> Traceback (most recent call last):
INTERNALERROR>   File "c:\python27\lib\site-packages\_pytest\main.py", line 106, in wrap_session
INTERNALERROR>     config._do_configure()
INTERNALERROR>   File "c:\python27\lib\site-packages\_pytest\config.py", line 935, in _do_configure
INTERNALERROR>     self.hook.pytes

[2018-01-08 21:12] apallier opened #33 "Exception when TestRail API returns a 429 HTTP status (too many requests)"
Sometimes, TestRail API returns a HTTP 429 status (too many requests).
In this case, an exception occurred and the publishing is stopped:
[code]

[2018-01-08 21:26] apallier commented on #33
Here an example of code to reproduce the problem:
[code]

When HTTP 429 status occurs there is no payload in the response so the line `return r.json()` raises an exception (in file [testrail_api.py](https://github.com/dubner/pytest-testrail/blob/c5a3253f05d3dec3449b60e135deab009b3a919c/pytest_testrail/testrail_api.py#L79))

[2018-01-18 16:19] jlin963 opened #35 "Issue getting "skipped" result to post to TestRail"
Hi all,

I'm having issues getting a "skipped" pytest result to post to TestRail. pytest shows the status as "SKIPPED" but nothing is posted to TestRail. "Passed" and "failed" work just fine for me, but not any custom status such as "skipped".

This is the method I'm skipping:

[code]

In my TestRail instance, I have created a custom status with Label = Skipped, status code/id = 6, and System Name

[2018-01-22 10:47] apallier commented on #35
Actually, if you use `@pytest.mark.skip()`, the test will be skipped at the collection stage (**"before"** the tests execution). It's different from executing a test and skipping it along the way with `pytest.skip()`.
I think what you want needs a new development, maybe in `pytest_collectreport(report)` hook.

[2018-01-29 14:23] #33 closed

[2018-02-06 21:22] mgeiger commented on #29
PR #39 removes the `fallback` argument. It was not used in the code.

[2018-02-07 09:58] #29 closed

[2018-03-03 22:18] ImXron opened #41 "Custom Testrail Comments"
Hi,

First off, great project!

I was wondering if there is a way to post custom comments to testrail when a test fails? Right now it's a stack trace, which is fine. For my situation, I'm looking to post details like the state of current variables.

If it's not supported, would this be of interest to you (or anyone)? I would love to contribute. It might also be out of scope for this project though

[2018-03-07 08:58] apallier commented on #41
Hi @ImXron Could you give a concrete example please? The pytest stack trace ever outputs test variables no?

[2018-03-11 01:38] ImXron commented on #41
Thanks for the response.

I totally missed this in the pytest documentation, but if you pass a "-l" to pytest it will show all the local variables in the stack trace. So that and this project solve my problem.

You can close this issue.

Thanks!

[2018-03-19 20:16] yishan-lin opened #42 "Is Python 3 supported for this plugin?"
I've gotten it working with python2.7, successfully POSTing to Testrail.

But on Python3, it doesn't seem to work - the same code ends up forever hanging at the "collecting items" stage.

Am I missing something?

[2018-03-20 12:17] apallier commented on #42
Hi @yishan-lin, Yes it should work with Python 3 (I use it with Python 3 :)
Are you able to run pytest with `--collect-only` option?
Maybe it's a problem with pytest version => I use Pytest 3.0.7

[2018-03-20 17:25] yishan-lin commented on #42
Hey @apallier, thanks for the speedy response.  I'm using Pytest 3.4.2, but let me revisit and get back to you.

[2018-03-23 17:32] apallier commented on #42
Hi @yishan-lin,
Your code look a little bit "recursive", isn't it? :)
I try your example and have the same behavior as you...

I advice to call pytest outside our module code. In Python when you just import a module (file), all the code will be executed, except the code inside block `if __name__ == '__main__'`.
It seems that our code creates an infinite loop if our module `test` is imported by pyt

[2018-03-28 11:29] allankp commented on #28
@brherger
pytest --testrail --tr-config=TR_CONFIG

The config is passed in as a seperate argument.
https://github.com/allankp/pytest-testrail#all-available-options

[2018-03-28 11:29] #28 closed

[2018-03-28 11:30] allankp commented on #35
Agree with @apallier this is a new development, feel free to open a PR @jlin963

[2018-04-05 08:13] apallier commented on #42
Hi @yishan-lin, did you resolve your problem?

[2018-04-13 22:12] tlvu opened #45 "How to add custom output to test result comment"
Hi,

This is not a bug, just a question.  Not sure how to reach you the author so kindly forgive me if you have a preferred channel for question.

In both passed and failed case, I'd like to be able to add custom output to the result comment.  The testrail API http://docs.gurock.com/testrail-api2/reference-results#add_result also allows for version, elapsed, defects, assignedto_id as well.

For al

[2018-04-15 13:30] apallier commented on #45
Hi @tlvu, you can custom some outputs but maybe not the way you want:

- `comment`: yes, automatically provided by pytest
- `version`: yes, provided with command line option `--tr-version`
- `elapsed`: yes, automatically provided by pytest
- `defects`: no
- `assignedto_id`: no

[2018-04-15 16:26] tlvu commented on #45
Hi @apallier,

Thanks for the quick response.

Indeed, elapsed and version are working as expected.

For comment field, in my test I have "assert <condition>, <text when failed>".  I wanted for <text when failed> to show on testrail comment field only, but I get the full test case and pseudo stack-trace which is less useful to non coder reader.

When the test passed, all I get no comment field at

[2018-04-15 16:32] tlvu opened #46 "Release a new version containing "add test run autoсlosing""
Hi,

When all tests in the run pass, it is preferable to auto close the run to avoid extra manual interventions.

A human would only need to make manual interventions when one or more of the tests failed so only then leaving the run open make sense.

The autoclose feature is already added, can you simply release it to PyPI?

[2018-04-15 18:36] apallier commented on #45
@tlvu Sorry but what you need doesn't exist now...

[2018-04-17 13:55] allankp commented on #46
@tlvu has been released

[2018-04-17 13:55] #46 closed

[2018-05-17 10:17] kee-rea1 opened #49 "The question about a realtime throwing results"
Hi guys! Thanks a lot for your plugin, it's really helpful and user-friendly creature.
I wondered whether there were any plans to add a realtime throwing results at the moment, while a testrun has been started (not the batch shipment after testing was accomplished).

Thanks a lot for your answers!

- With best regards, Keereal.

[2018-05-17 16:41] allankp commented on #49
Hi @kee-rea1 ,
I'm guessing you mean, posting results to TestRail as the tests are processed instead of batch?
There is a no current plans, but PRs are more than welcome if its something that you wish to propose.

[2018-05-30 08:37] zeburek opened #50 "Add support of skipping tests that are not present in testrun"
I think that it would be greate, if you will be able to skip tests, that are not present in testrun.
Now they are made but not published - for my number of testcases it may lead to a lot of time loose.
Example param:

`--tr-skip-missing`

[2018-05-30 08:49] zeburek commented on #50
@allankp Now waiting here for you upprove ASAP. :smile:
Need it in project. Now just using it hardcoded.

[2018-06-01 14:31] apdastous opened #52 "Testrail results are not published while using xdist threading"
Normal run which results in test run being created and test results being published:
`
$ pytest -v --testrail --tr-url=xxxxxxxxx --tr-email=xxxxxxxxxxxx --tr-password=xxxxxxxxxxxxxx --tr-config=testrail.conf
================================================= test session starts ==================================================
platform linux2 -- Python 2.7.12, pytest-3.6.0, py-1.5.3, pluggy-0.6.0

[2018-06-03 10:07] zeburek commented on #35
I think, that adding support for custom statuses ids chould be done in another issue

[2018-06-07 17:59] allankp commented on #52
@apdastous  At this time x-dist is not supported

Also why not upgrade to py3 😉

[2018-06-12 11:10] #52 closed

[2018-06-20 18:45] m1yag1 opened #55 "Latest version 1.1.5 has error serializing JSON with Python 3.6"
I've testing this with 1.1.4 and the POST request to TestRail to create the test run works as expected. When I upgrade to 1.1.5 the following error occurs:

[code]

[2018-06-20 18:47] m1yag1 commented on #55
As indicated to me by a co-worker the error seems to be that the type expected is a list but is actually returning a map. Most likely in this location:
https://github.com/allankp/pytest-testrail/blob/2a41191ad4030fa87f36caf8288388525dd333cf/pytest_testrail/plugin.py#L93-L100

[2018-06-27 17:31] Nikikuzi opened #56 "Can't create test run with cases, version==1.1.5"
Hey! I got a "[testrail] Failed to create testrun: "Field :case_ids is not a valid ID."" error after running tests because in plugin.py:152 variable tr_keys looks like [[123123, 123132]] instead of [123123, 123132]

[2018-07-05 08:52] allankp commented on #55
@m1yag1 This is fixed in 1.1.6

[2018-07-05 08:52] #55 closed

[2018-08-09 23:53] reverbc opened #59 "support configurable `include_all` when creating new test run"
Hi,

Thanks for creating this great plugin.

In our use case, we might have test engineers design and add test case, while other engineers implement test cases. In the report I'd like to see not only the test cases being executed, also how many are not implemented yet. Since this plugin already have `suite_id`, to achieve this is as simple as toggle the flag on https://github.com/allankp/pytest-te

[2018-08-10 15:34] allankp commented on #59
@reverbc Yeah seems like a good idea, PR is more than welcome

[2018-09-28 06:57] svart-riddare opened #62 "Logic inverted with option "--tr-dont-publish-blocked""
Greetings,

When I do **not** specify this command line option, testrail prints

The reason is that the _publish_blocked_ member variable of _PyTestRailPlugin_ is set to the value of the '--tr-dont-publish-blocked' command line option. From the wording and the code, I would expect this variable to bet set to **not** the command line option value.

[2018-10-02 14:42] apallier commented on #62
Hi @svart-riddare, you are right, the logic is inverted but it's a bug...

[2018-10-08 13:07] #62 closed

[2018-10-26 11:03] #59 closed

[2018-11-13 10:36] TomskDiver opened #77 "How to add testrail case id to parametrized multiple arguments?"
For simple test we make:
@pytestrail.case('C5902870')

For parametrized ONE argument:
@pytest.mark.parametrize('param', (pytest.param('value1', marks=pytest.mark.testrail(ids='C5902871')),
 pytest.param('value2', marks=pytest.mark.testrail(ids='C5902872'))))

But i have problem with two or more parametrized arguments:
@pytest.mark.parametrize('param1', ('ascend', 'descend'))
@pytest.mark.parametri

[2018-11-21 09:55] allankp commented on #77
This isn't possible with the current implementation, if you would like ti give it a go. Please open a PR

[2018-12-11 13:48] TytoDan opened #79 "Support adding a description to a created test run"
It would be useful for us if we could add a description to a published testrun, configured in the testrail.cfg file. This should (hopefully) be quite a quick addition, adding a parameter to
https://github.com/allankp/pytest-testrail/blob/47bc4bef97a7c801d2ebd064b495499baac56922/pytest_testrail/plugin.py#L296
and appropriate handling for reading the data.

Cheers for the plugin!

[2018-12-12 13:39] TytoDan opened #80 "Use RawConfigParser instead of ConfigParser to support special characters in passwords"
Hi,

Having some trouble with a testrail password that contains a '%' symbol. Since this is a special character for ConfigParser interpolation the test is failing instantly.

Would it be possible to use RawConfigParser or are the interpolation features required?

Cheers

[2018-12-14 13:45] allankp commented on #79
@TytoDan are you interested in having a go at adding it ? There is a great number of examples of how this is done in the plugin already. Take a look:
https://github.com/allankp/pytest-testrail/blob/master/pytest_testrail/plugin.py#L120
https://github.com/allankp/pytest-testrail/blob/master/pytest_testrail/conftest.py#L15

[2018-12-14 13:47] allankp commented on #80
@TytoDan Have you tried escaping the character ?

[2019-01-04 03:14] Sushma-Kattinti-Bose opened #82 "when the testcase fails at the fixture level, pytest_testrail.plugin does not publish results to testrail"
**Problem statement** - When the testcase fails at the fixture level, pytest_testrail.plugin does not publish results to testrail - it says `untested`

- We are using pytest_testrail.plugin to push results to testrail which works perfectly when the test passes/fails
- When the pytest contains a fixture and the test fails at the fixture level then the results are not published to testrail

Could yo

[2019-01-04 17:04] MarkJB commented on #77
I think I might have hit the same problem (though I'm not stacking parametrize marks, so could be different) and found a work around. In my case, making the testrail id a tuple works for me

i.e.

`pytest.param('a', 'b', id='test case name', marks=[pytest.mark.testrail(ids=('C1234',))])`

The problem (in my case) appears to be in clean_test_ids()

[2019-01-07 21:19] allankp commented on #82
@Sushma-Kattinti-Bose Can you give me some example code please?

I think I understand the issue, could be that when a test fails on a fixture `pytest_runtest_makereport` is not hit or the test is not in a `call` status

[2019-01-07 21:21] allankp commented on #77
@MarkJB think the issue there is that the ids are not being found:
https://github.com/allankp/pytest-testrail/blob/master/pytest_testrail/plugin.py#L112

[2019-01-07 22:15] Sushma-Kattinti-Bose commented on #82
It is not in `call` status when we are executing fixtures. It is in `setup` status

[2019-01-08 03:01] Sushma-Kattinti-Bose commented on #82
Following test will fail at fixture level. Results are not pushed to testrail - Testrail interface says "untested"

conftest.py
[code]
test_example.py
[code]
Command line
[code]

[2019-01-08 08:22] allankp commented on #82
What happens if you change test_example.py to:

[code]

[2019-01-08 16:05] Sushma-Kattinti-Bose commented on #82
I see the same issue -It will not as it did not come into call state at that point

[2019-01-08 16:31] Sushma-Kattinti-Bose commented on #82
Right, the test itself never actually ran as it failed at the fixture level.  You have any alternative way to push results to Testrail when it fails at the fixture level?

[2019-01-08 16:50] allankp commented on #82
I feel this is working as intended and the result of untested is correct. Therefore the result being shown in TestRail is also correct.
If you would like to propose another solution, I'd be happy to take a look.

[2019-01-09 21:41] Sushma-Kattinti-Bose commented on #82
Sure, thanks!

[2019-01-22 19:38] reverbc opened #83 "test results from pytest.skip getting posted to TestRail as "Blocked""
### Is your feature request related to a problem? Please describe.
By current implementation, if a test has been marked as skipped (by `@pytest.mark.skip` marker), then it won't get posted to TestRail -> showing **Untested** on TestRail

However, if the skip happens inside test method (by `pytest.skip(...)` function), then it will still get posted to TestRail -> showing **Blocked** on TestRail.

F

[2019-01-22 23:59] reverbc opened #84 "support add_results_for_cases API to upload all results in single API invocation"
### Is your feature request related to a problem? Please describe.
I have 3200+ test cases that I'm trying to integrate with TestRail with `pytest-testrail` plugin. Current implementation (https://github.com/allankp/pytest-testrail/blob/v2.3.2/pytest_testrail/plugin.py#L28 https://github.com/allankp/pytest-testrail/blob/v2.3.2/pytest_testrail/plugin.py#L271-L294) reports result for each test case

[2019-01-23 12:10] maxuitesting commented on #77
@MarkJB Thank you for your solution

[2019-01-23 13:21] allankp commented on #84
@reverbc I'm all in favour of this, when I originally created the plugin this would have been the better way to do it. Also avoids rate limiting issues. If you are willing to I suggest changing the underlying update method to use the batch endpoint instead. If you can put up a PR I'm more than happy to help / review

[2019-01-23 13:23] allankp commented on #83
@reverbc  These seems like a realisable request, I would suggest just marking the test as 'Untested' as that is the actual state of the test. Adding an option to an option to mess with a test result seems like the wrong thing to do. Fire up a PR, happy to help / review.

[2019-01-28 10:43] maxuitesting opened #86 "How to get a run link after "End publishing" step?"
Hi!
I need to use a link of run in any "finish hooks", e.g. "pytest_sessionfinish". This link must be sent to email or telegram bot. How can I get this link easily?

[2019-02-08 06:49] archanaGupta1 opened #87 "Allow test runs to be assigned to a milestone id"
It would be useful to create test runs that can be optionally added to a milestone during creation

**Describe the solution you'd like**
allow a milestone_id to be specified in .cfg file and support command line option for it like other parameters.

I would be happy to submit a PR if the request to change is approved.

[2019-02-11 08:57] #84 closed

[2019-02-11 08:59] allankp commented on #86
This is not something I would include in the plugin. You could add something to your own conftest or maybe if you are running in CI. Those normally have some sort of plugin that allows publishing to Telegram, Slack etc.

[2019-02-11 08:59] #86 closed

[2019-02-11 09:01] allankp commented on #87
Go for it @archanaGupta1 :+1:

[2019-02-11 09:01] allankp commented on #80
Closing as no reply for extended period of time, feel free to reopen.

[2019-02-11 09:01] #80 closed

[2019-02-11 09:03] maxuitesting commented on #86
I resolved this issue via pytest session:
`
def get_testrail_run_link(pytest_session):
    plugin_manager = pytest_session.config.pluginmanager
    if 'pytest-testrail-instance' in plugin_manager._name2plugin.keys():
        pti = plugin_manager._name2plugin['pytest-testrail-instance']
        run_id = pti.testrun_id
        testrail_api_url = pti.client._url
        testrail_url = testrail_api_ur

[2019-02-11 09:04] maxuitesting commented on #86
I resolved this issue via pytest session:
[code]

[2019-02-28 16:57] YakovLittle opened #89 "Support xdist plugin to run test in parallel"
Currently pytest-testrail plugin creates Test-Run for each xdist workers and then publishes test cases like `Untested`

We could modify pytest_collection_modifyitems() to postpone call of self.create_test_run()
and run it in pytest_sessionfinish() if self.results

[2019-03-08 22:18] conversica-aaronpa opened #91 "Run with Test Plan Id and no run id doesn't capture results"
**Describe the bug**
When I try to get results into an existing Test Plan, the parameters are accepted, but no results are found in the UI.

**To Reproduce**
Create a testrail configuration file with the following valid values:
[code]
Execute a pytest run with command line arguments included with valid values like the following, where 65 is an empty Test Plan with a descriptive name for environmen

[2019-03-08 22:53] conversica-aaronpa commented on #91
Accidentally clicked closed, re-opened

[2019-03-11 15:40] allankp commented on #91
@conversica-aaronpa I'll take at this when I get a chance.

You have left your password in the sample output, I have removed it. Please change your password on testrail asap

[2019-03-11 16:15] conversica-aaronpa commented on #91
Whoops, forgot about that echo. Done, thanks.

[2019-03-11 17:44] conversica-aaronpa commented on #91
Looking at the pytest-testrail and the testrail API some more, I guess I'm surprised that `add_run` doesn't have an optional plan id that can be passed in, and to create a run inside a plan it looks like you have to call `add_plan_entry` in place of `add_run`. That's more complicated than I'd expected, so perhaps this is actually a feature request. If there is an existing feature (suites? we are c

[2019-03-11 17:53] apallier commented on #91
Hello @conversica-aaronpa, options `--tr-run-id` and `--tr-plan-id` don't allow to automatically create testrun. Your testplan must contained one or more testruns. Actually, these options work only on existing testplan/run.
If you want to create a new testrun, you must not use these options.
If you want to create a new testrun into an existing testplan, you're right, it's a new behavior/feature.

[2019-03-12 05:55] conversica-aaronpa commented on #91
Yes, the latter is what I'm after, new run in a passed in plan. I'm not sure what else could happen when accepting such parameters, what happens now with no results being logged at all after going through all the motions doesn't seem right.
It shouldn't be difficult to add another path in the logic to call `add_plan_entry` in place of `add_run` for this scenario. As it stands, this scenario, passi

[2019-03-12 12:47] apallier commented on #91
@conversica-aaronpa OK, feel free to open a pull request.

[2019-03-12 21:38] conversica-aaronpa commented on #91
PR made as https://github.com/allankp/pytest-testrail/pull/92, will add example output there.

[2019-04-18 06:48] amsun10 opened #93 "Not working with Pytest 4.0+"
**Describe

 the bug**
When running in pytest 4.0.0+, it shows:

collecting ... INTERNALERROR> Traceback (most recent call last):
INTERNALERROR>   File "/usr/local/lib/python3.7/dist-packages/pytest-4.0.2-py3.7.egg/_pytest/main.py", line 185, in wrap_session
INTERNALERROR>     session.exitstatus = doit(config, session) or 0
INTERNALERROR>   File "/usr/local/lib/python3.7/dist-packages/pytest-4.0.2

[2019-04-18 07:47] apallier commented on #93
Hi @amsun10, please could you check your plugin version? "pytest-testrail" is normally compatible with pytest 4+ since v2.3.2: https://github.com/allankp/pytest-testrail/releases/tag/v2.3.2

[2019-04-23 05:23] amsun10 commented on #93
Thanks @apallier, I saw this already fixed in the latest version, thanks for replying me

[2019-04-23 05:23] #93 closed

[2019-06-03 10:04] DamienBth commented on #45
Hello !
TLDR: :+1: I am also very interested about this feature. Or by a workaround if possible ?

I am doing interop tests between multiple products, each test run matching a combination of different versions of the products, so it would be great to have the version of these products in the testrail comment section:
Test C1000 (Day D): Product1 v2.0.1 - Product2 v1.1.3 - Product3 v3.2
Test C1000

[2019-06-04 10:15] astroVale commented on #89
Hi, I'm having the same issue.
pytest-testrail plugin creates Test-Run for each xdist workers.
I see the corresponding pull request is closed but this issue is still open.

Could you please tell me when this will be implemented, or if you have a workaround I could use?
Thank you!

[2019-06-04 11:32] YakovLittle commented on #89
Hi @astroVale pls see https://github.com/allankp/pytest-testrail/pull/90#issuecomment-469741084

[2019-06-04 12:28] astroVale commented on #89
Thanks for your reply!
I was trying to understand that comment before writing here.
From your comment:
Step 1. My base conftest.py is modified in order not to add the testcase id to each single test function, but to take it from a list:

`with open("all_tests.json") as json_file:
    data = json.load(json_file)
    tests = [[test["testcase_id"], test["testcase_name"]] for test in data]

def pytest

[2019-06-07 09:19] astroVale commented on #89
@YakovLittle, I see the fix you did in [#90](https://github.com/allankp/pytest-testrail/pull/90#issuecomment-469741084) was not merged to master branch, that's probably why for me pytest-testrail plugin still creates a test run for each xdist worker.

[2019-06-23 01:43] uscengineer opened #94 "Any way to use it with parametrized fixtures?"
I use parametrized fixtures to run the same test using different sets of data. Each is a different test case in test rail. Anyway to do use this to do that?

[2019-07-11 12:59] PeterNgTr commented on #89
Hi, any updates on this? I'm getting the same issue.

[2019-07-16 12:28] PeterNgTr commented on #89
@YakovLittle could you help update this issue?

[2019-07-16 13:16] YakovLittle commented on #89
@PeterNgTr xdist-plugin is using separate processes (workers) and also merge test reports by rsync locally that means we couldn't use pytest-testrail plugin for import test report inside each process.
I suggest to run the import into TestRail by separate step in your CI.

[2019-07-16 13:24] PeterNgTr commented on #89
@YakovLittle thanks for your reply. Could you maybe expose more details step how to do this? I'm sorry, I'm just getting to use this.

[2019-07-16 15:57] YakovLittle commented on #89
@PeterNgTr pls see #90 (comment)

[2019-07-17 09:51] PeterNgTr commented on #89
https://github.com/pytest-dev/pytest-html/blob/master/pytest_html/plugin.py
pytest_html can make it work with xdist. Could we do that? :)

[2019-07-17 12:00] YakovLittle commented on #89
yep, sure - we're using pytest-html too

[2019-07-18 09:11] PeterNgTr commented on #89
@YakovLittle thanks!
can anyone help providing me an example code base how to make the testrail publishment with xdist? I'm in the middle of nowhere. Not sure what to do. Many thanks

[2019-07-18 12:52] YakovLittle commented on #89
@PeterNgTr I've pushed source code example into https://github.com/allankp/pytest-testrail/pull/90#issuecomment-469741084

[2019-07-18 13:31] PeterNgTr commented on #89
@YakovLittle thanks, I tried to read it but sorry I'm noobie. Could you help format it to make it easier to read.
Step 2. Writing that class to a new file, from where is that class called in the end?
Step 3, 4 and 5. Isn't the pytest_testrail plugin supposed to run those steps automatically already?

[2019-07-19 14:45] PeterNgTr commented on #89
@allankilpatrick would you mind considering fixing this in the core?

[2019-07-22 19:30] brianbautista opened #96 "Override utcnow() to specific timezone"
Not necessarily a bug but Is there a way to override the `datetime.utcnow()` in the `testrun_name` to a specific timezone?

https://github.com/allankp/pytest-testrail/blob/92d0a279da0f12b912c3ad5c65561a3fb8c874a7/pytest_testrail/plugin.py#L89

[2019-07-24 11:24] apallier commented on #96
Hi @brianbautista, what do you want to do ? Change the test run name ?

[2019-07-24 16:36] brianbautista commented on #96
For example, the testruns are being named as `Automated Run 24-07-2019 00:26:25` automatically.  I would like to change the date format to `YYYY-MM-DD` and the time to be my current time zone, `Pacific Time Zone USA UTC-8`.

[2019-07-24 21:26] apallier commented on #96
@brianbautista in this case, there is no way to do that. Feel free to submit a Pull Request allowing to configure it.

[2019-07-29 09:03] PeterNgTr commented on #89
@astroVale I would manage to publish the test results to testrail when running tests with xdist without creating multiple test runs. Thanks @YakovLittle! I followed your path to parse the test results from junitxml report. I'm happy to help if you need me!

[2019-08-02 03:19] cuongld2 opened #97 "Run with test plan_id in testrail.cfg"
Currently, I can only run pytest and publish to testrail with existed test_plan_id via commandline : --tr-plan-id=TR_PLAN_ID

Is there a way, that I can input the plan_id in testrail.cfg config file, and when I run test, it will get the plan_id from the config file?
Thanks a lot

[2019-08-15 23:47] tolstislon commented on #94
Maybe

[code]

[2019-08-21 12:29] voloxastik commented on #50
Hi! Is it possible to add the same functionality for TestPlan?

[2019-08-21 12:57] voloxastik opened #98 "Add support of skipping tests that are not present in testplan"
There is functionality for testrun, but is it also possible for a test plan?

[2019-08-21 21:25] #96 closed

[2019-09-10 21:01] hottes commented on #87
Hi,
This is something we would need as well. I have coded up a solution but can't seem to be able to push my branch to create a pull request. Any help would be appreciated.

[2019-09-17 17:26] eparubrub-view opened #100 "Publishing successful flaky/rerun results only"
Currently, I have a couple test cases that are flaky and use the mark "@pytest.mark.flaky" in order to rerun the test cases that fail once in a while. After the rerun, some test cases will pass (meaning the case failed first and passed on the rerun), but the current functionality of pytest-testrail will publish the failed run on top (meaning the test case will be marked as failed as a whole). Is t

[2019-09-18 21:53] eparubrub-view commented on #45
Hello, I am also very interested in this feature, has anyone found a workaround for this?

[2019-10-02 14:07] PeterNgTr commented on #98
http://docs.gurock.com/testrail-api2/reference-plans

@voloxastik I think test plan contains an array of test runs. Do you have any references that show tests tie to test plan 🤔

[2019-10-04 15:12] allankp commented on #94
Closing as no response from OP

[2019-10-04 15:12] #94 closed

[2019-10-18 07:11] allankp commented on #100
This has been resolved in : https://github.com/allankp/pytest-testrail/pull/108

[2019-10-18 07:11] #100 closed

[2019-10-18 07:12] allankp commented on #97
Resolved in https://github.com/allankp/pytest-testrail/pull/103

[2019-10-18 09:09] PeterNgTr commented on #87
I think it can be closed cause the PR has been merged.

[2019-10-18 09:11] PeterNgTr commented on #79
I think it can be closed cause the PR has been merged.

[2019-10-22 08:06] zeburek opened #114 "v2.8.0 tc-custom-comment carshes pytest"
**Describe the bug**
After 2.8.0 --tc-custom-comment crashes pytest

**To Reproduce**
Steps to reproduce the behavior:
1. Start any test with pytest >= 2.8.0

**Expected behavior**
Tests goes

**Screenshots**
[code]

Here is wrong usage of getoption:
https://github.com/allankp/pytest-testrail/blob/master/pytest_testrail/conftest.py#L151

[2019-10-22 08:29] allankp commented on #114
@zeburek Thanks for flagging this up i'll take a look. (updated the title of this issue). v2.7.1 is OK

[2019-10-22 09:21] #114 closed

[2019-10-22 12:29] PeterNgTr opened #116 "Codacy as code quality"
@allankp I would think using the Codacy as code quality to improve our quality would be a nice trying. Also it's totally free and I guess more and more open sources are using it. I'm also using it with my projects, for example: https://www.codacy.com/manual/PeterNgTr/codeceptjs-testrail?utm_source=github.com&utm_medium=referral&utm_content=PeterNgTr/codeceptjs-testrail&utm_campaign=Badge_Grade

[2019-10-25 03:25] Azee77 commented on #16
is this available in the recent build?
pytest testcases\test_ui_login.py --os ubuntu16 --testrail --tr_name azee_run
pytest: error: unrecognized arguments: --tr_name azee_run

[2019-10-26 14:10] allankp commented on #116
Had a look at this and it looked pretty interesting. Implemented and tested it out on another repo of mine. Done the same for this one, can tweak it over time.
Thanks for the suggestion.

[2019-10-26 14:10] #116 closed

[2019-10-31 17:37] davebrochu-es opened #120 "Support for custom fields needed"
My team has a few non-standard required fields that need to be provided in order to add test results to TestRail. It would be ideal if there were a mechanism by which one could specify custom fields to send as part of the result(s) uploaded to TestRail to support non-default TestRail use-cases. Currently, when trying to upload results using /v2/add_results_for_cases, I get the following error, whi

[2019-11-03 00:52] #87 closed

[2019-11-03 00:53] allankp commented on #49
No activity

[2019-11-03 00:53] #49 closed

[2019-11-03 00:53] #77 closed

[2019-11-03 00:53] #79 closed

[2019-11-03 00:54] allankp commented on #83
No activity

[2019-11-03 00:54] #83 closed

[2019-11-05 10:11] allankp commented on #45
Issue appears to be resolved now

[2019-11-05 10:11] #45 closed

[2019-11-05 10:12] allankp commented on #98
Closing due to inactivity

[2019-11-05 10:12] #98 closed

[2019-11-05 14:49] allankp commented on #89
Appears this issue has been resolved in another comment. https://github.com/allankp/pytest-testrail/pull/90#issuecomment-469741084

[2019-11-05 14:49] #89 closed

[2020-01-06 10:16] andrey-semakin opened #124 "PytestUnknownMarkWarning: Unknown pytest.mark.testrail - is this a typo"
**Describe the bug**
`pytest` shows following warning:

[code]

We use only `@pytestrail.case(...)` decorators, not `@pytest.mark.testrail`, so it should be something internal for `pytest-testrail`.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `@pytestrail.case` decorator;
2. Run `pytest`;
3. See warning

**Expected behavior**
No warnings expected. I want test runs to be green, not ye

[2020-02-17 13:44] LesterBurnham commented on #80
I just wanted to comment on this issue, as I ran into the same problem, where a "%" character in the password was causing ptest-testrail to break. The workaround was to add a second "%" character, as described here: https://stackoverflow.com/a/28874886/1798547

[2020-02-27 23:05] amygitsthings opened #125 "plan_id does not work if specified in testrail.cfg"
**Describe the bug**
This is basically re-opening #97

According to the --help for --tr-plan-id it says

However when I specify plan_id in the TESTRUN section of my testrail.cfg file, it is not being picked up.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a testrail.cfg file to publish testrail results and in it, include something like:
[code]
2. Run pytest
3. Observe that new test

[2020-02-28 02:18] amygitsthings opened #127 "Support ability to provide test plan name substring or regex instead of test plan id"
**Is your feature request related to a problem? Please describe.**
I have tests hooked into my CI/CD pipeline that will publish results to a TestRail test plan I create every milestone.  The problem is that every milestone when I close the previous test plan and open a new one, I also have to update my pytest-testrail call to update to the new plan_id.  My test plan names all follow the same forma

[2020-03-20 02:25] pnguyenV commented on #45
Hello, "--tc-custom-comment" applies to all test cases as a default?  and not customized for one selected case like how it is with pytest.fail()?

[2020-03-29 00:03] voloxastik commented on #45
Good afternoon!
Are there plans to add a custom comment from each test? For example, pass the values ​​of some parameters to the test (for example, from a parameterized parameter)?

[2020-03-30 10:10] andrey-semakin commented on #124
Workaround is to register a custom `testrail` marker as described here: http://doc.pytest.org/en/latest/example/markers.html#registering-markers
Or copy this file: https://github.com/allankp/pytest-testrail/blob/master/pytest.ini to your project.

[2020-04-10 05:29] and-semakin opened #129 "Flake8 plugin to check for missing or wrong TestRail test identifiers"
Let me self-advertise a little bit. I've written a Flake8 plugin that helps to keep track of missing or wrongly written TestRail identifiers in large code bases. Works well with `pytest-testrail`.

Example output:
[code]

The code is here: https://github.com/and-semakin/flake8-pytestrail
Feel free to file an issue if something is wrong or missing.

And give it a star! 😄

[2020-04-29 18:21] SS04 commented on #120
My team is also looking for same feature. It would be very helpful if you could add this feature in the plugin.
Thanks

[2020-06-19 07:02] MischaZihler commented on #45
@PeterNgTr
with your addition "add the ability to extend the comment of test case #105" is it now possible to add a comment to a pytest case, when it's passed? I want to publish the results even if the test has passed. If so, how can you achieve that?

This doesn't work:
`@pytestrail.case('C6095')
def test_reboot(coms):
    assert True, "custom_comment=yala"
    assert True, "custom_comment:wret"`

[2020-06-19 08:32] PeterNgTr commented on #45
@MischaZihler have you checked this? https://github.com/allankp/pytest-testrail#config-for-testrail

[2020-06-19 09:40] MischaZihler commented on #45
@PeterNgTr
Yes, i am able to implement everything, but not that it publishes a comment from my pytest into a testrail result, when passed, only when failed.
I digged a little bit deeper and it seems that the code takes whatever pytest gives back and with your feature adds the custom comment. Unfortunately this is not what I want because first it only adds information, when it fails and second the

[2020-07-11 10:28] voloxastik opened #133 "Add test parametrize to result"
I suggest adding a description of the test parameters to the result
PR: https://github.com/allankp/pytest-testrail/pull/132

[2020-07-23 12:40] #125 closed

[2020-07-23 14:31] #133 closed

[2020-07-23 15:53] #129 closed

[2020-07-23 15:55] #124 closed

[2020-08-27 10:22] voloxastik commented on #133
Hi, @allankp when is the new version available in PyPI?

[2020-08-27 10:52] allankp commented on #133
How about right now 👍

[2020-08-27 13:50] voloxastik commented on #133
thanks a lot

[2020-09-16 20:42] EugeneShutQa opened #137 "Support for image attaching needed"
Could you please add ability to add screenshot(s) to testruns please?

[2020-09-17 15:40] allankp commented on #137
@EugeneShutQa  Sounds like an interesting idea, can you please expand on how you think this should work. Possibly what the implementation would look like.

[2020-09-17 17:32] EugeneShutQa commented on #137
Actually i made it under your framework. Later i'll attach a link to my project , so you could check my realisation

[2020-09-17 19:24] EugeneShutQa commented on #137
I think this should be called like a function in test ( something like: pytestrail.case.attach_screenshot(path_to_screenshot) ).
Also you could add some another features with cases (like custom text result)

[2020-10-14 09:00] somebody1337 opened #140 "Plugin creates emty testrun when there are no cases to report"
**Describe the bug**
When no tests specified with pytestrail.case markers plugin creates empty testrun

**To Reproduce**
Steps to reproduce the behavior:
1. Run tests without pytestrail.case markers
2. Check testrail

**Expected behavior**
No testrun created when there are no cases to report

**Actual behavior**
Created empty testrun

[2020-12-07 01:59] davebrochu-es opened #141 "Annotate tests with associated test suite"
**Is your feature request related to a problem? Please describe.**
Many teams use multiple test suites in TestRail for given projects. In an automated test project, it is possible that one directory or file contains tests that belong to one suite while another directory or file contains tests that belong to a different suite. If a regression tests is run where ALL automated tests are run, it isn't

[2020-12-07 02:04] davebrochu-es commented on #141
Looking at the TestRail API,  `add_run` requires a `suite_id`, which is likely where this requirement in the pytestrail plugin originates from. In order to support this, the plugin would need to create multiple test runs, given that each requires its own suite_id.

[2020-12-17 07:43] jbotonjic opened #142 "Settings file <settings file>.cfg can not be read properly by py.test - Invalid URL error occurs"
**Describe the bug**
After running cmd for creating a testrun I got a an error that URL is not set properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare <settings file>.cfg and run the py.test as described on https://pypi.org/project/pytest-testrail/

...
INTERNALERROR>   File "C:\Users\Username\AppData\Roaming\Python\Python39\site-package
s\requests\models.py", line 388, in prep

[2020-12-21 09:46] allankp commented on #142
What version of the plugin is this happening on ?

[2020-12-21 09:50] #142 closed

[2021-01-08 14:12] tiborb opened #143 "Test run is not added to the configured plan"
Test run is not added to configured plan in TestRail. Invalid test plan_ids are being ignored, valid test plan_ids result in no post at all.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Configure library as shown above
2. Execute pytest using: ```  python -m pytest <path_to_testfile.py> --testrail ```
3. Observe console output

**Expected behavior**
Test is appears in testrail in

[2021-02-08 16:31] flopberry opened #144 "Success passed test in testrail when it failed"
`    def pytest_runtest_makereport(self, item, call):
        """ Collect result and associated testcases (TestRail) of an execution """
        outcome = yield
        rep = outcome.get_result()
        defectids = None
        if item.get_closest_marker(TESTRAIL_DEFECTS_PREFIX):
            defectids = item.get_closest_marker(TESTRAIL_DEFECTS_PREFIX).kwargs.get('defect_ids')
        if item.get_

[2021-02-13 10:52] kotus9 opened #145 "Test result is incorrect in TestRail in case of parametrized test failing for some params. Another sorting is desired"
**Is your feature request related to a problem? Please describe.**
Test status for test in TestRail is pass, when parametrized test fails for some parameteres, but the last test param was successful.
I have found that sorting by status_id was removed due to another request where rerun-failures was used, and in that case desired sequence of test cases was different.

**Describe the solution you'd l

[2021-04-12 08:25] adrientv commented on #137
Hi there,
Maybe it would be interesting to add some hooks to tune the posted results.
I'm thinking of `pytest_testrail_comment` to tune the comment, and maybe `pytest_testrail_screenshots` to get the wanted screenshots ?
I'm not sure about that, but a third hook may help to fill custom fields as well.

[2021-05-12 12:48] VirgiliusMaximus opened #148 "Comment(custom comment) is not added when tests are "Passed""
**Describe the bug**
Comment is not added to TestRail when tests are marked as "Passed" only when are "Failed"
Tried with config file and also using:
`py.test --testrail --tr-config=<settings file>.cfg --tc-custom-comment="mycomment"`

My config:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Mark in your python tests some pass and fail tests, e.g:
[code]
[code]
Note: C21976, C21977 i

[2021-05-26 07:44] neanton commented on #145
Any chance this PR can be merged?

[2021-07-30 16:32] nishithcitc opened #149 "In parallel execution, it is creating multiple test run ids based number of workers you pass."
**Describe the bug**
In parallel execution, it is creating multiple test run ids based number of workers you pass.

**To Reproduce**
Execute this command to run parallel execution.
 pytest --testrail -s -v -n=2

**Expected behavior**
There should be a way to create single test run id for multiple workers.

[2021-09-09 15:03] clifter1 commented on #143
In my testing,  plan_id  and  run_id  are used for updating existing test_runs (run_id) or all test_runs within a plan (plan_id)

We need something like a --tr-testrun-milestone and --tr-testrun-plan  that will create a test run under a milestone or plan.

Or, the logic is broken and simply needs fixed.

[2021-09-09 15:44] clifter1 commented on #91
I've encountered this issue due to sheer confusion.   You have two parameters that create test runs, and two that update test runs.  Unfortunately, plan_id has use cases for both:

create test run:
  - project_id
  - milestone_id

overrides creation and only updates:
  - run_id
  - plan_id

  From what I understand, there was an original use case where plan_id would update all test runs that exist

[2021-09-09 16:16] clifter1 commented on #143
This is a duplicate issues of https://github.com/allankp/pytest-testrail/issues/91

[2021-09-09 21:23] clifter1 commented on #91
There is a separate API call for adding a test run to a test plan (add_plan_entry):

https://www.gurock.com/testrail/docs/api/reference/plans#addruntoplanentry

Maybe `--tr-testrun-planentry-id`   and `planentry_id` as values for creating the test run under a test plan?

[2021-09-21 13:16] glazeb opened #151 "New Testrail Version Has Broken This Plugin"
**Describe the bug**
When we try to send test results to testrail using this plugin it no longer runs any tests and throws an error (below). It seems Testrail's newest version has caused this issue based on our findings as they added to their response for getting tests.

**To Reproduce**
Steps to reproduce the behavior:
Just try to send results to testrail and you should see the error.

**Fix we t

[2021-09-21 16:23] glazeb commented on #151
Does anyone know if this stuff is being worked on already?

[2021-09-21 18:03] glazeb commented on #151
So for the pagination stuff it would have to be written something like this correct?

def get_tests(self, run_id):
    """
    :return: the list of tests containing in a testrun.
    """
    response = self.client.send_get(GET_TESTS_URL.format(run_id), cert_check=self.cert_check)
    error = self.client.get_error(response)
    if error:
        print('[{}] Failed to get tests: "{}"'.format(TESTRAI

[2021-09-21 18:16] JohnOSu commented on #151
I have no idea if this is still being maintained. This worked for me:
`
    def get_tests(self, run_id):
        """
        :return: the list of tests containing in a testrun.

        """
        from urllib.parse import parse_qsl, urlencode

        master_test_list = []
        repeat = True
        params = None

        while repeat:
            uri = GET_TESTS_URL.format(run_id)

[2021-09-28 03:26] chayanmazumder-cpi commented on #151
This is a blocker, and anyone looking at it? Cause we have virtual env in prod, and cannot create hot fix to run this.

[2021-09-30 22:53] AudioLeaf commented on #151
@chayanmazumder-cpi
I implemented the solution outlined by @JohnOSu  in my own pip package.

I've noticed there are lingering pull requests on this repo so I'm not sure if a PR for this would ever make it in as I cannot tell if the project is still being maintained.

So if you need an immediate solution I'd try what John did. Hope this helps.

[2021-10-21 15:22] allankp commented on #151
Hi, I don't have a massive amount of spare time. But a PR would certainly be looked at.

[2021-11-04 11:43] wswiatkowski commented on #100
Hi! I'm using pytest-rerunfailures plugin in my test suite. Issue mentioned in this topic is still occurring in my test suite, so I have a FAILED status on tests which are rerunned - even if they PASSED in the second try. Could you address this issue?

[2021-11-07 12:04] Miracle05 commented on #151
@allankp repo now obsoleted and unsupported?

[2021-12-08 01:06] DanielPBak opened #154 "Support attaching files to results"
testrail's python API seems to support attaching files: https://www.gurock.com/testrail/docs/api/reference/attachments

(add_attachment_to_result)

It would be nice if the pytestrail plugin included hooks for this API, so that we can publish files with our test results.

[2021-12-21 14:48] shivam-bm-ai commented on #77
allankp - I am also facing same issue as TomskDiver.
I have already implemented "pytest.mark.paramterize()" but now as I am trying to connect the same with Test rail.

So, I have 1 test function for which there are 10 test case and hence I have parametrised the test function. Now for each case, I want to pass different test case id same as in test rail. Please suggest the solution.

[2022-01-17 12:40] VStoilovskyi commented on #148
@VirgiliusMaximus Not sure if it is a bug, current behavior is to post comment message on failure only(Custom message or received from pytest runner). It's not a big problem  to change this behavior I guess, but need to discuss with @allankp at least

[2022-01-17 12:51] VStoilovskyi commented on #154
@DanielPBak Hello there! Looks like this issue is a duplicate of #137

[2022-02-06 20:07] mickyJNST opened #155 "Add --tr-testrun-refs option"
**Is your feature request related to a problem? Please describe.**
TestRail allows for integration with Jira via the `refs` parameter in test runs. **pytest-testrail** doesn't currently support setting the `refs` param (which is just a comma delimited string).

**Describe the solution you'd like**
Add `--tr-testrun-refs` option to existing list of **pytest-testrail** options

**Describe alternativ

[2022-02-09 12:52] voloxastik commented on #155
Hi @mickyJNST
Could you explain more about your request?
Do you mean to create a new test run with test cases that contain specified refs from option --tr-testrun-refs?

[2022-02-09 12:58] voloxastik commented on #155
As workaround, you can create directly necessary  testrun and then run pytest with option `--tr-run-id XXXXX`

[2022-02-09 18:07] mickyJNST commented on #155
Yeah - tried this but ran into other issues (as described in the **Describe alternatives you've considered** section of original post)

[2022-02-09 23:47] voloxastik commented on #155
Your testrail.cfg need to be seems:

Then you can run your tests using following command:
 `pytest /tests/my_tests.py --testrail --tr-testrun-suite-id=24728 --tr-run-id=108689 --tr-config=/path/to/testrail.cfg`

[2022-02-09 23:54] voloxastik commented on #155
Your testrail.cfg should look like this:

[API]
url = xxx
email = xxx
password = xxx
[TESTRUN]
assignedto_id = 111
project_id = 83

Then you can run your tests using following command:
pytest /tests/my_tests.py --testrail --tr-run-id=XXXXXX
where XXXXXX is the ID of your test run created earlier

[2022-02-10 04:25] mickyJNST commented on #155
Thanks for the explanation @voloxastik. Unfortunately your proposed solution doesn't fit with how we have our workflow set up as we're trying to do everything via the testrail.cfg file...and we don't want to have to do a combination of file and pytest command line options. In any case, we have a very roundabout workaround in place that will do for now, but would like to see support for the test ru

[2022-02-10 18:49] voloxastik commented on #155
@mickyJNST
Could you explain more about your request?
Do you mean to create a new test run with test cases that contain specified refs from option --tr-testrun-refs?

[2022-02-10 18:57] vk765 opened #156 "Is it a way to mark testrail test as failed if even one test from pytest.mark.parametrize has been failed?"
Hi, guys.

Let's imagine I have 1 test case with different parameters:
`@pytestrail.case('C11')   `
`@pytest.mark.parametrize('number1,number2', [(1, 2), (1, 3)])`
`def test_sum(number1, number2):`
`    assert number1 + number2 == 4`

In test rail I get failed and passed results. And the whole test case is marked as "passed".
Could you add the possibility to mark whole test case as failed if there

[2022-02-11 04:25] mickyJNST commented on #155
@voloxastik I want to associate the test run with Jira tickets. This is supported by the TestRail API via the `refs` parameter. Hopefully this clarifies what I am getting at:

![pytest-testrail-155](https://user-images.githubusercontent.com/85323292/153537355-2835348a-b05d-444c-8133-346e590cb493.png)

[2022-02-15 10:17] voloxastik commented on #155
@mickyJNST
FYI. The plugin does not use information about testrun_id from the config file
`run_id=config.getoption('--tr-run-id')`
only from run command
but it's easy to fix
I will do a PR for it.

[2022-02-28 17:34] mcbemis commented on #120
My Team is also looking!

[2022-04-22 08:48] OneEyed0wL opened #158 "Pytest Results are not reflecting in Testrail"
After I execute " py.test --testrail --tr-config=settings.cfg ".I'm getting below response.

testrail] Start publishing
[testrail] Testcases to publish: 3840
[testrail] No data published
[testrail] End publishing

Is this because the IDs in settings.cfg is wrong?
How do I find out suit_id, plan_id, assigned_to_id from TestRail?

[2022-04-26 06:26] 0w7 commented on #158
I reinstalled testrail and it worked..

[2022-05-13 18:48] celliott-a2e commented on #120
this would also be helpful for my team :)

[2022-05-24 07:20] kunalbehl12 opened #159 "Not able to export Background step from feature file to testrail"
**Describe the bug**
I am using BDD Cucumber pytest framework. I have been exporting test cases and results into testrail using pytest commands.

python -m pytest -v --pytest-testrail-export-test-results --pytest-testrail-test-plan-id [planID]--pytest-testrail-test-configuration-name "Windows 10 Chrome" --driver Chrome --driver-path=./binaries/webdriver/chromedriver --tags ""

However, I do not se

[2022-05-26 08:06] kunalbehl12 commented on #159
Any update on this?

[2022-08-08 15:52] EvgeniyRub opened #160 "Plugin does not run particular test cases from test run, it runs all from test suite"
**Describe the bug**
When we create test run in TestRail and choose particular test case from test suite always all test cases run instead of what was choosen.

**To Reproduce**
Steps to reproduce the behavior:
on TestRail
1.Create test suite
2. Create 2 test cases (All cases marked @pytestrail.case('CXXX') in pytest)
3. Create Test plan
4. Create test run and choose only 1 test case to test
5. Ru

[2022-09-01 19:42] SiddChugh commented on #156
Definitely interested in this functionality.

[2022-09-09 17:59] JoeTang-BO commented on #149
I am having the same issue. Any suggestion